
.center{
    text-align: center ;
}
.title_style_blue{
     background-color: lightblue; 
     color: rgb(238, 64, 1);
     padding:  2px;    
    }

    .n1
    {
        background-color: lightblue;  
        text-align: center;
    }
    .d1{
        border: 1px;
    }

    .d2{
        background-color: lightpink;
    }
    .d3{
        background-color: lightblue;  
    }

    .right{
        text-align: right ;
        background-color: lightpink;
    }
    .a1{
        border: 3px solid black;
    }